<!DOCTYPE html>

<!------------------------------------------------
    Blank page for handling the token
    This page exists so that the code to token exchange may occur
    Once it is complete the page will redirect to main section of the site
 ------------------------------------------------->

<html>
    <head>
        <meta http-equiv="refresh" content="7; url='http://localhost:4200/'" />
    </head>
    <body>
        <!-- <p>Thank you for logging in. You will be redirected shortly</p> -->
    </body>
</html>