.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;

  font-family: brandon-grot-w01-light,brandon-grot-w05-light,sans-serif;
}

.header {
  height: 189px;
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  font-weight: 600;
  padding: 0 50px;

  .title {
    font-size: 30px;
  }

  a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: 300;
    margin-left: 16px;
    &:hover {
      color: #8cbcdb;
    }
  }
}



.content {
  display: flex;
  padding: 50px 150px;
  max-width: 1200px;
  margin: auto;
  flex-direction: column;
  align-items: center;
  flex: 1;
  position: relative;

  .backBtn {
    position: absolute;
    top: 80px;
    left: 50px;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
  }

  .job-item {
    margin: 10px 0;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 16px;
    position: relative;

    .title {
      font-size: 20px;
      font-weight: 600;
      margin: 0;
    }

    .meta {
      font-size: 12px;
      font-weight: 400;
      margin: 16px 0;
    }

    .description {
      font-size: 16px;
      font-weight: 500;
    }
  }

  .title {
    margin-top: 40px;
  }

  .subtitle {
    margin-top: -10px;
    margin-bottom: 16px;
  }

  .search-form {
    display: flex;
    align-items: center;
    margin-top: 20px;

    .custom-input {
      padding: 16px;
      font-size: 16px;
      border: 1px solid #E9E9E9;
      margin-right: 4px;
      border-radius: 4px;

      &:focus {
        outline: none;
      }
    }

    .submit {
      padding: 16px;
      height: 52px;
      font-size: 16px;
      border-radius: 4px;
      border: none;
      background-color: #2F4BA0;
      color: white;
      cursor: pointer;

      &:hover {
        background: #596FB3 !important;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
  flex-direction: column;
}

.divider {
  width: 200px;
  height: 2px;
  background-color: black;
  margin: 10px 0 26px 10px;
}

.card {
  all: unset;
  border-radius: 4px;
  border: 1px solid #1976d2;
  background-color: #1976d2;
  color: white;
  height: 40px;
  width: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card.card-small {
  height: 16px;
  width: 168px;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

footer {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;

  .item {
    color: white;
    font-size: 20px;

    .details {
      font-size: 16px;
      margin-top: 16px;

      .info {
        margin: 8px 0;

        a {
          color: white;
          text-decoration: none;
          &:hover {
            color: #8cbcdb;
          }
        }
      }
    }
  }
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  .card-container > *:not(.circle-link) {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }
}

.detail-btn {
  position: absolute;
  top: 20%;
  right: 10px;
}

