<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<div class="navbar" fxLayout="row" fxLayoutAlign="space-around center">
  <img class = "risenOneLogo" src="../../assets/Risen-One_white.png" alt="">
    
 
  <h3 style = "color: white">Risen One Employee Portal</h3>
  <button class="material-symbols-outlined" mat-button [matMenuTriggerFor]="menu" style = "color: white">Menu</button>
  <mat-menu  #menu="matMenu">
    <a href="/home" mat-menu-item>Home</a>
    <a *ngIf="signedIn" href="https://riseonebiologin.auth.us-east-1.amazoncognito.com/logout?client_id=4fqh40acgmdksdok6l50qp8l21&logout_uri=http://localhost:4200/signout"mat-menu-item>Logout</a>

  </mat-menu>
</div>
<div class = "background-theme">
<div  class="container">
<div class="content" role="main" *ngIf="resultsShown">
  <div>
    <div *ngFor="let bio of bios; let i = index" class="job-item">
      <div class="title">
        {{ bio.fullName }}
      </div>
      <div class="meta">
        {{ bio.jobTitle }}
      </div>
      <button
        mat-stroked-button
        class="detail-btn"
        color="primary"
        (click)="openModal(bio)"
      >
        Details
      </button>
    </div>
  </div>
</div>
</div>
</div>

