<div class="navbar" fxLayout="row" fxLayoutAlign="space-around center">
  <a class="link" href="/bio">Home</a>
  <h3 style = "color: white">Risen One Employee Portal</h3>
  <a class="link" href="/edit-bio">edit bio</a>
</div>
  <div class = "background-theme">
  
    <div class="container">
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" class="text-center- mb-20">
        <h1 class = "h1"> John Doe</h1>
        <h4 class = "h4"> UX Design and Front End Development Support</h4>
        <button *ngIf="false" class="btn btn-warning" onclick="location.href='../edit-bio'">Edit My Bio</button> 
      </div>
  
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="row" fxLayoutAlign.xs="center center" fxLayoutGap="100px" class="mb-20">
        <div fxLayout="column" fxLayoutAlign="none center" fxFlex = "20">
          <img src="assets/placeholder image.png" alt="No Image Loaded">
          <p> Caption about the featured image</p>
        </div>
  
        <div fxFlex="80">
          <p>
            this is text that will be pulled from the database
          </p>
        </div>
      </div>
  
      <div fxLayout="row" fxLayout.xs="column"  fxLayoutAlign.xs="center center" fxLayoutGap="100px" class="mb-20">
        <div fxLayout="column" fxLayoutGap="10px" fxFlex="20" fxLayoutAlign.xs="center center">
          <h4> Tech Stack and Software</h4>
          <h6>Figma</h6>
          <h6>Angular/Typescript</h6>
          <h6>HTML</h6>
          <h6>CSS</h6>
          <h6>Github</h6>
          <h6>ZenHub</h6>
        </div>
  
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="row" fxFlex="80" fxLayoutAlign="space-around" fxLayoutGap = "35px" >
          <div fxLayout="column" fxLayoutAlign="none center">
            <img src="assets/placeholder image.png" alt="No Image Loaded">
            <p> Caption about the featured image</p>
          </div>
          <div fxLayout="column" fxLayoutAlign="none center">
            <img src="assets/placeholder image.png" alt="No Image Loaded">
            <p> Caption about the featured image</p>
          </div>
  
        </div>
  
      </div>
    </div>
  </div>
  
