<div class="navbar">
    <a class="link" href="">Home</a>

    <a class="link" href="/edit-bio">edit bio</a>
</div>

<div class = "background-theme">
    <div class = "container" >
        <div>
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="row" fxLayoutAlign.xs="center center" fxLayoutGap="100px" class="mb-20">
                <div fxLayout="column"  fxFlex = "20">
                  <p> Employee Name:</p>
                  <input type="text" id="empName" name="empName"><br><br>
                </div>
          
                <div fxLayout="column" fxFlex="80">
                    <p> Job Title:</p>
                    <input type="text" id="jobTitle" name="jobTitle"><br><br>
                </div>
            </div>
                <p>Write a brief description of yourself. Include any information that will help others get to know you better, like your hobbies, pets, locations, etc.</p>
                <input type="text" id="jobTitle" name="jobTitle"><br><br>
            <div>

            </div>

            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="row" fxLayoutAlign.xs="center center" fxLayoutGap="100px" class="mb-20">
               <input type = "file" id = "photo1" name = "photo1" accept="image/png, image/jpg">
               <input type = "file" id = "photo2" name = "photo2" accept="image/png, image/jpg">
               <input type = "file" id = "photo3" name = "photo3" accept="image/png, image/jpg">
                
            </div>


        </div>
        
    </div>
</div>