<div class="navbar">
    <a class="link" href="">Home</a>

    <a class="link" href="/edit-bio">edit bio</a>
</div>

<div class = "background-theme">
    <div class = "container" >
        <div>
            <div  class="mb-30" fxLayout="row"  fxLayoutGap="30px">
                <div fxLayout="column"  fxFlex = "30" fxFlex.sm = "40" fxFlex.xs = "50">
                  <p> Employee Name:</p>
                  <input type="text" id="empName" name="empName">
                </div>
                <div fxLayout="column" fxFlex = "70" fxFlex.sm ="50">
                    <p> Job Title:</p>
                    <input type="text" id="jobTitle" name="jobTitle">
                </div>
            </div>
            <div class="mb-20">
                <p>Write a brief description of yourself. Include any information that will help others get to know you better, like your hobbies, pets, locations, etc.</p>
                <textarea type="text"> </textarea>
            </div>
            <div class="mb-20">
                <ng-multiselect-dropdown 
                    
                    [placeholder]="'Tech/Software goes here'"
                    [settings]="dropdownSettings"
                    [data]="dropdownList"
                    [(ngModel)]="selectedItems"
                    (onSelect)="onItemSelect($event)"
                    
                >
                </ng-multiselect-dropdown>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="row" fxLayoutAlign.xs="center center" fxLayoutGap="50px" class="mb-20">
               <input type = "file" id = "photo1" name = "photo1" accept="image/png, image/jpg">
               <input type = "file" id = "photo2" name = "photo2" accept="image/png, image/jpg">
               <input type = "file" id = "photo3" name = "photo3" accept="image/png, image/jpg">
            </div>


        </div>
        
    </div>
</div>